@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Disko;
  src: url(disko.ttf);
}

html,
body {
  height: 100%;
  /* for touch screen */
  touch-action: none; 
}

header{
  margin-top: 1%;
  margin-left: 1%;
}

body {
  background-image: url("color_celestee2.jpg")!important;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  -webkit-perspective: 180em;
  perspective: 180em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

body2{
  /*overflow: hidden;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*background: #111;*/
  -webkit-perspective: 400em;
  perspective: 400em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  transform: scale3d(0.8, 0.8, 0.8);
}

@media only screen and (max-width: 1100px) {
    body2 {
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /*background: #111;*/
      -webkit-perspective: 400em;
      perspective: 400em;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      width: 100%;
      transform: scale3d(1, 1, 1);
    }
}

.perspective-fix{
  -webkit-perspective: 400em;
  perspective: 400em;
}



.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.show {
  opacity: 1;
}
#drag-container{
  -webkit-transform: rotateX(-7deg);
  transform: rotateX(-7deg);
  /*transition: all 30s ease-out;*/
  /*-webkit-transform: scaleZ(0.5);*/
  /*transform: scaleZ(0.5);*/

  /*transform: scale3d(0.5, 0.5, 0.5);*/
}

.drag-container-init{
  -webkit-transform: rotateX(-5deg)!important;
  transform: rotateX(-5deg)!important;
  /*transition: all 30s ease-out;*/
}

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /*-webkit-transform: rotateX(-10deg);*/
          /*transform: rotateX(-10deg);*/
  /*-webkit-transform: translateZ(-1000px);*/
  /*transform: translateZ(-1000px);*/
  /*-webkit-transform: scaleZ(0.5);*/
  /*transform: scaleZ(0.5);*/
}
.card {
  border-radius: 5px;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;

  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0005);
}

.card_after{
  -webkit-box-shadow: 0 0 4px #fff;
  box-shadow: 0 0 1px #fff;
  transition: box-shadow 10s ease-in-out;

}
#drag-container img, #drag-container video {
  border-radius: 5px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #feb0e3;
          box-shadow: 0 0 8px #feb0e3;
  /*-webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);*/
}

.flip-card-thick {
  background-color: #feb0e3;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
  bottom: 0;
  left: 130px;
  position: absolute;
  top: 0px;
  width: 10px;
  z-index: -10;
  transform: rotateY(-90deg);
  transform-origin: 100% 50%;
}

#drag-container #card:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px #f0fd;
          box-shadow: 0 0 15px #f0fd;
  /*-webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);*/
}

.card:hover{
  -webkit-box-shadow: 0 0 15px #f0fd;
  box-shadow: 0 0 15px #f0fd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

/*#drag-container #title p {*/
#title {
  color: #ffffff;
  font-family: 'Disko', sans-serif;
  font-size: 320px;
  font-weight: bold;
  line-height: 1;
  text-align: center;


  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
}

#MainMenu{
  width: 100%;
  margin-top: 25%;
  font-family: helvetica, sans-serif;
  font-weight: bold;;
  font-size: 30px;
}

#MainMenu ul{
  list-style-type: none;

}

#MainMenu li {
  /*margin-top: 30%;*/
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 10ch;
  animation: typing 3s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 5em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

#MainMenu h1 {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  /*color: #eee;*/
  text-align: center;
}


#title p {
  margin-bottom: 10%;
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes zoomDown {
  0% {
    -webkit-transform: rotateX(-30deg);
    transform: rotateX(-30deg);
  }

  /*30% {*/
  /*  -webkit-transform: rotateX(-30deg);*/
  /*  transform: rotateX(-30deg);*/
  /*}*/

  100%{
    -webkit-transform: rotateX(-7deg);
    transform: rotateX(-7deg);
    }
}

.pop-up-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  z-index: 999;

}

.pop-up-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 1.5s ease-out;
  overflow: auto;

}

.pop-up {
  text-align: center;
  transition: all 1.5s ease-out;
  z-index: 999;
}

.pop-up p {
  /*margin: 5% 10% 0 10%;*/
  width: 50%;
  margin: auto;
  margin-top: 2%;
  font-size: 23px;
}

.pop-up h1{
  font-size: 65px;
}

.pop-up a {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 200%;
  top: 3.5%;
  right: 5%;
}

#lang-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

#lang-toggle a:active{
  background-color: var(--highlight-color);
  color: #FFF;
}

.sans, .sans > a {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

#name {
  /*color: var(--highlight-color);*/
  color: #c0d9d9!important;
  text-decoration: none;
  font-size: 25px;
  position: fixed;
  background-color: hsl(196.53deg 100% 20%);
  padding-left: 0.2%;
  padding-right: 0.5%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  top: 20px;
  right: 20px;
}

a, a:link, a:visited {
  /* color: #00F; */
  color: var(--highlight-color);
  cursor: pointer;
  text-decoration: none;
}

#geolocation {
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translate(50%, -50%) rotate(-90deg);
  transition: opacity .15s;
  z-index: 998;
  background-color: hsl(196.53deg 100% 20%);
  color: #c0d9d9!important;
  padding-right: 10px;
  padding-left: 10px;
}

#past-websites-container {
  position: fixed;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: opacity .15s;
  z-index: 998;

}
#past-websites-container2 {
  position: fixed;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: opacity .15s;
  z-index: 998;
  margin-left: 2%;

}

.past-website {
  background-color: hsl(196.53deg 100% 20%);
  color: #c0d9d9!important;
  margin-left: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  font-size: 26px;
  z-index: 998;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
}

/* HOVER COLOR */

a svg:hover #facebook,
a svg:hover #instagram {
  fill: #fff;
}

/* GENERAL STYLES */


article {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  zoom: 2;
}
a {
  outline: none;
  border: 0;
  text-decoration: none;
}
a svg #facebook,
a svg #instagram {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

#contact {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
}

/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
}
.video-modal {
  overflow: hidden;
  position: fixed;
  opacity: 0.0;

  -webkit-transform: translate(500%,0%);
  transform: translate(500%,0%);

  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.video-modal .overlay {
  z-index: 0;
  background: rgba(13,1,61,0.82); /* overlay color */

  opacity: 0.0;

  -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;

  margin: 0 auto;

  overflow-y: visible;

  background: #000;

  width: calc(100% - 12em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625); /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
@media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(100vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778); /* 16:9 calc */
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
  .video-modal-content {
    width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625); /* 16:9 calc */
  }
}

/* modal close button */
.close-video-modal {
  display: block;
  position: absolute;
  left: 0;
  top: -40px;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background: #000;
  box-shadow: 0px 2px 16px rgba(0,0,0,0.5);
}

/* show the modal:
   add class to the body to reveal */
.show-video-modal .video-modal {
  opacity: 1.0;

  transform: translate(0%,0%);
  -webkit-transform: translate(0%,0%);
}
.show-video-modal .video-modal .overlay {
  opacity: 1.0;
}
.show-video-modal .video-modal-content {
  transform: translate(0%,0%);
  -webkit-transform: translate(0%,0%);
}